.column{
	display: flex;
	flex-direction: column;
}
.odiv{
	background: #efefef;
	flex-direction: column;
	width: 100%;
}
.border-right{
	border-right: 1px solid;
}
.fish-btn{
	width:90%;
	background-color:#f04848;
	color:#fff;
	margin-top:20rpx;
}
.primary{
	background: #F04848;
	color: #fff;
}
.iconfont{
	display: flex;
}
.status-bar{
	height: var(--status-bar-height);
}
